# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data (keep gitkeep, ignore actual data files)
data_raw/**/*.csv
data_raw/**/*.json
data_raw/**/*.html
data_processed/plots/

# Models (Keep standard serialized models so the cloud app can predict)
# models/*.pkl

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
